/***** BASE STYLES *****/
body {
  color: #2b2b2b;
  font-family: 'Arvo', serif;
}

/***** GRID *****/

.full-width {
  margin:  auto;
  overflow: auto;
  width: 1200px;
}


.half-width {
  float: left;
  width: 600px;
}

.third-width {
  width: 400px;
  float: left;
}

/***** HEADER *****/

.container {
  background: url('../img/background.jpg');
  background-size: cover;
  background-position:center;
  border: 4px solid black;
  width: inherit;
  max-width: 1920px;
  min-height: 800px;
  margin: 30px;
  position: relative;
}

.coming-soon {
  position: absolute;
  margin-top: 50px;
  margin-left: 20px;
  max-width: 15%;
  min-width: 20%;
}

.coming-soon img {
  max-width: 100%;
  min-width: 100%;
}

.coming-soon p {
  color: white;
  font-size: 3vw;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 25%;
  left: 45%;
  transform: translate(-50%, -50%);
}

.chronicle-banner {
  background-color: black;
  border: 2px solid #000000;
  opacity:0.8;
  position: absolute;
  width:100%;
  height:25px;
  bottom: 110px;
  margin: 0px;
}

.chronicle-banner-text {
  color: #ffc95d;
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 35px;
  position: relative;
  top: 645px;
}

.chambray {
  background-color: #f55138;
  position: absolute;
  bottom: 30px;
  height: 80px;
  width: 100%;

}

.chambray p {
  color: white;
  margin-left: 35px;
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 1.4vw;
  max-width: 100%;
  max-height: 100%
  font-weight: bold;
}

.chambray img {
  width: 20px;
  height: auto;
}

.weather-time {
  background-color: #f55138;
  border-left: 6px solid yellow;
  position: absolute;
  height: 110px;
  min-width: 250px;
  right:0px;
  bottom: 0px;
}

#time {
  color: white;
  margin-left: 10px;
  font-size: 30px;
  margin-top: 10px;
}

#weather-description p{
  color:white;
  font-size:6px;
  margin-left: 10px;
  margin-top: 10px;
  width: 25px;
}

#weather-description img {
  position: absolute;
  width: 20px;
  margin-left: 90px;
  margin-top: -35px;
}


#elp-logo img {
  position: absolute;
  margin-left: 150px;
  margin-top: -100px;
  height: 100px;
}

.ticker-wrap {
    border: 1px solid black;
    background: white;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 30px;
    left: 0px;
    bottom: 0px;
}

.ticker {

  display: inline-block;
  height: 5px;
  line-height: 10px;
  white-space: nowrap;
  padding-right: 100%;
  box-sizing: content-box;

  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
 -webkit-animation-name: ticker;
         animation-name: ticker;
  -webkit-animation-duration: $duration;
          animation-duration: $duration;

  &__item {

    display: inline-block;

    padding: 0 2rem;
    font-size: 2rem;
    color: white;

  }

}



$duration: 30s;

@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
